main {
  width: 86%;
  margin: 5% auto;
}

article {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  width: $articleWidth;
  float: right;
  margin-bottom: 10px;
  margin-right: 5%;
  padding: 3%;
  color: #fff;

  h2 {
    font-size: 1.5em;
    font-family: $fontFamily;
  }

  p {
    font-family: $fontFamily;
  }

  hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
  }
}

article:nth-of-type(odd) {
   background-color: $lightBlueTheme;

   .military-time {
     color: $lightBlueTheme;
   }

   .nub {
     background-color: $lightBlueTheme;
   }
}

article:nth-last-of-type(even) {
  background-color: $darkBlueTheme;

  .military-time {
    color: $darkBlueTheme;
  }

  .nub {
    background-color: $darkBlueTheme;
  }
}

time {
  display: block;
  position: absolute;
  left: -21%;
  top: -1%;
  box-sizing: border-box;
  color: #BACFDD;
  float: left;
  font-family: $fontFamily;
  font-size: .9em;
}

.military-time {
  display: block;
  margin-top: 2%;
  left: -28.4%;
  font-size: 2.5em;
  font-family: $fontFamily;
}

.icon {
  background-color: #40A3DC;
  border: 6px solid $timelineColor;
  @include square(32px);
  border-radius: 50%;
  position: absolute;
  top: -7%;
  left: -170%;
  text-align: center;
}

.timeline {
  width: 10px;
  background-color: $timelineColor;
  position: absolute;
  left: -8%;
  top: 5%;
  bottom: -10%;
  float: right;
}

.nub {
  @include square(15px);
  background-color: red;
  position: absolute;
  top: 10px;
  left: -0.5%;
  transform: rotate(45deg);
  z-index: -1;
}

i {
  padding-top: 9px;
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
  main {
    width: 95%;
    margin: 2%;
  }

  article {
    width: $articleWidth + 10%;
    margin-right: 0;
  }

  .timeline {
    left: -6.5%;
  }

  .military-time {
    left: -25%;
    font-size: 1.9em;
    margin-top: 2.5%;
  }
}

@media screen and (max-width: 667px) {
  main {
    width: 95%;
    margin: 2%;
  }

  article {
    width: $articleWidth + 20%;
    margin-right: 0;
  }

  .timeline {
    left: -8%;
  }

  time {
    position: relative;
    left: 0;
    float: right;
    top: -5%;
    @include textShadow();
    color: #fff;
  }

  .military-time {
    position: relative;
    left: 0;
    font-size: 1.4em;
    float: right;
    margin-top: -1%;
    margin-left: 2%;
    @include textShadow();
  }

  article:nth-of-type(odd) {
     background-color: $lightBlueTheme;

     .military-time {
       color: #fff;
     }
  }

  article:nth-last-of-type(even) {
    background-color: $darkBlueTheme;

    .military-time {
      color: #fff;
    }
  }
}
