/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_timeline.scss */
h2 {
  font-size: 1.5em;
}

/* line 5, ../sass/_timeline.scss */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

/* line 13, ../sass/_timeline.scss */
main {
  width: 80%;
  margin: 5% auto;
}

/* line 18, ../sass/_timeline.scss */
article {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  width: 70%;
  float: right;
  margin-bottom: 10px;
  padding: 3%;
  color: #fff;
}

/* line 29, ../sass/_timeline.scss */
article:nth-of-type(odd) {
  background-color: #68BEF0;
}
/* line 32, ../sass/_timeline.scss */
article:nth-of-type(odd) .military-time {
  color: #68BEF0;
}

/* line 37, ../sass/_timeline.scss */
article:nth-last-of-type(even) {
  background-color: #2E93CD;
}
/* line 40, ../sass/_timeline.scss */
article:nth-last-of-type(even) .military-time {
  color: #2E93CD;
}

/* line 45, ../sass/_timeline.scss */
time {
  display: block;
  position: absolute;
  left: -21%;
  top: -1%;
  box-sizing: border-box;
  color: #BACFDD;
  float: left;
}

/* line 58, ../sass/_timeline.scss */
.military-time {
  display: block;
  margin-top: 2%;
  left: -28.4%;
  font-size: 2.5em;
  font-family: sans-serif;
}

/* line 67, ../sass/_timeline.scss */
.icon {
  background-color: #40A3DC;
  border: 6px solid #ADDCF9;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  top: -8%;
  left: -165%;
  text-align: center;
}

/* line 79, ../sass/_timeline.scss */
.timeline {
  width: 10px;
  background-color: #ADDCF9;
  position: absolute;
  left: -8%;
  top: 5%;
  bottom: -10%;
  float: right;
}

/* line 90, ../sass/_timeline.scss */
i {
  padding-top: 9px;
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
  /* line 100, ../sass/_timeline.scss */
  main {
    width: 95%;
    margin: 2%;
  }

  /* line 105, ../sass/_timeline.scss */
  article {
    width: 80%;
  }

  /* line 109, ../sass/_timeline.scss */
  .timeline {
    left: -6.5%;
  }

  /* line 113, ../sass/_timeline.scss */
  .military-time {
    left: -25%;
    font-size: 1.9em;
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 667px) {
  /* line 126, ../sass/_timeline.scss */
  main {
    width: 95%;
    margin: 2%;
  }

  /* line 131, ../sass/_timeline.scss */
  article {
    width: 90%;
  }

  /* line 135, ../sass/_timeline.scss */
  .timeline {
    left: -8%;
  }

  /* line 139, ../sass/_timeline.scss */
  time {
    position: relative;
    left: 0;
    float: right;
    top: -5%;
    text-shadow: #3F7391 1px 1px 0px;
  }

  /* line 147, ../sass/_timeline.scss */
  .military-time {
    position: relative;
    left: 0;
    font-size: 1.4em;
    float: right;
    margin-top: -1%;
    margin-left: 2%;
    text-shadow: #3F7391 1px 1px 0px;
  }

  /* line 159, ../sass/_timeline.scss */
  article:nth-of-type(odd) {
    background-color: #68BEF0;
  }
  /* line 162, ../sass/_timeline.scss */
  article:nth-of-type(odd) .military-time {
    color: #2E93CD;
  }

  /* line 167, ../sass/_timeline.scss */
  article:nth-last-of-type(even) {
    background-color: #2E93CD;
  }
  /* line 170, ../sass/_timeline.scss */
  article:nth-last-of-type(even) .military-time {
    color: #68BEF0;
  }
}
